version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27018:27017" # host:container
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  backend:
    image: subhanisenevirathne/weatherforyou-backend:latest
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/weatherdb
      - JWT_SECRET=your-secret-key-change-this
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  frontend:
    image: subhanisenevirathne/weatherforyou-frontend:latest
    container_name: weather-frontend
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped

  jenkins:
    build:
      context: ./jenkins
      args:
        DOCKER_GID: "${DOCKER_GID}"
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    group_add:
      - "${DOCKER_GID}"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JAVA_OPTS=-Xmx512m
    dns:
      - 8.8.8.8
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy

volumes:
  mongo-data:
  jenkins_data:
